- skip_header

.splash-box
  %h2
    Sorry, we were unable to login#{" with #{@login_type}" if @login_type.present?}.

  - if @login_error
    %p
      %strong Reason:
      = @login_error
    %p.actions
      %a.btn.btn-primary.btn-super{:href => "/login"}
        Login Again

      = mail_to "all@openhunt.co", subject: "unable to login", body: "reason: #{params[:message]}", class: "btn btn-primary btn-super" do
        Email Us
      %a.btn.btn-primary.btn-super{:href => "/"}
        Go Back
