.user-form
  = form_tag "/settings?redirect_url=#{request.path}", method: :post do
    .form-group
      %label(for="email") Email Address
      = email_field_tag :email, @user.list_subscriber.try(:email), class: "form-control"
    .form-group
      %label(for="format") Format
      = select_tag :format, '<option value="html">HTML</option><option value="text">Text</option>'.html_safe, class: "form-control"
    .form-group.pull-left
      %label.checkbox-wrapper
        = check_box_tag :subscribed, "true", @user.list_subscriber.try(:subscribed?)
        Subscribe to Daily Newsletter

    .pull-right
      %button.btn.btn-default(type="submit") Save
