.user-page
  %h2 Settings
  .user-form
    = form_tag "/subscribe?redirect_url=/", method: :post do
      .form-group
        %label(for="email") Email Address
        = email_field_tag :email, @user.list_subscriber.try(:email), class: "form-control", required: true
      .form-group
        %label(for="email_format") Format
        = select_tag :email_format, options_for_select({"HTML" => "html", "Text" => "text"}, @user.list_subscriber.try(:email_format)), class: "form-control"
      .form-group.pull-left
        %label.checkbox-wrapper
          = check_box_tag :subscribed, "true", @user.list_subscriber.try(:subscribed?)
          Subscribe to Daily Newsletter
      .form-group.pull-left
        %label.checkbox-wrapper
          = check_box_tag :weekly, "true", @user.list_subscriber.try(:weekly?)
          Subscribe to Weekly Newsletter

      .pull-right
        %button.btn.btn-default(type="submit") Save
