.user-page
  .row
    .col-sm-6
      .user-profile
        .user-avatar(style="background-image:url('#{@user.profile_image_url}');")
        .user-name= @user.name.presence || "Anonymous"
        .user-twitter= link_to "@#{@user.screen_name}", "https://twitter.com/#{@user.screen_name}"
        .user-location= @user.location

        .user-actions
          - if current_user == @user
            %a.btn.btn-xs.btn-default(data-method="delete" href="/logout") Log Out

          - if moderator?
            - if @user.banned?
              %a.btn.btn-xs.btn-default(data-method="post" href="/unban/@#{@user.screen_name}") Unban User
            - else
              - if current_user.id != @user.id
                %a.btn.btn-xs.btn-default(data-method="post" href="/ban/@#{@user.screen_name}") Ban User

            - if @user.moderator?
              -# %a.btn.btn-xs.btn-default(data-method="post" href="/remove_moderator/@#{@user.screen_name}") Remove Moderator
            - else
              %a.btn.btn-xs.btn-default(data-method="post" href="/make_moderator/@#{@user.screen_name}") Add Moderator

        - if current_user == @user
          .user-form
            = form_tag "/subscribe?redirect_url=#{request.path}" do
              .form-group
                %label(for="email") Email Address
                = email_field_tag :email, current_user.list_subscriber.try(:email), class: "form-control"
              .form-group.pull-left
                %label.checkbox-wrapper
                  = check_box_tag :subscribed, "true", current_user.list_subscriber.try(:subscribed?)
                  Subscribe to Daily Newsletter

              .pull-right
                %button.btn.btn-default(type="submit") Save

    .col-sm-6
      .project-list.row
        .head.col-md-12.col-sm-12.col-xs-12
          .today
            Favorited
          .date (#{@voted_projects.count})
        .clearfix
        = render "projects/project_listings", projects: @voted_projects, empty_msg: "No products have been favorited."

      .project-list.row
        .head.col-md-12.col-sm-12.col-xs-12
          .today
            Submitted
          .date (#{@submitted_projects.count})
        .clearfix
        = render "projects/project_listings", projects: @submitted_projects, empty_msg: "No products have been submitted."
