.project-feedback
  %span.close.close-feedback-button
    %span.icon.icon-times
  .project-info
    %h3
      %a(href="#{@project.url}" target="_blank")= @project.name
    %p= @project.description
    %p
      -# TODO: make this a fonticon (open in new window)
      %a.btn.btn-xs.btn-default(href="#{@project.url}" target="_blank") Open Site
      - if moderator?
        - if @project.hidden?
          %a.btn.btn-xs.btn-default(href="/unhide/#{@project.slug}" data-method="post" data-confirm="Restore this project?") Not Spam
        - else
          %a.btn.btn-xs.btn-default(href="/hide/#{@project.slug}" data-method="post" data-confirm="Remove this site as spam?") Remove Spam

    %hr

  .feedback-form
    %p
      - if @project.feedbacks_count > 0
        <strong>#{@project.feedbacks_count} amazing #{'person'.pluralize(@project.feedbacks_count)}</strong>
        == #{@project.feedbacks_count == 1 ? 'has' : 'have'} given feedback on this product. Join them by posting your thoughts.

      - else
        Be an amazing person and <strong>post some feedback</strong> on this product.
    %p
      All <strong>comments go directly to the product owner</strong>, and aren't posted publicly.

    = text_area_tag :body, @feedback.try(:body), class: "form-control", placeholder: "List 3 things you like about this product. ... List 1 thing you feel it could improve on."

    .actions
      - if current_user.present?
        %label.pull-left
          = check_box_tag :anonymous, "1", @feedback.try(:anonymous)
          Post as Anonymous
      .pull-right
        .btn.btn-primary.close-feedback Done
