- projects.each do |project|
  .project-listing.item.row{"data-project-slug" => project.slug, class: ("marked-as-spam" if project.hidden?)}
    .item-details.col-md-9.col-sm-9.col-xs-8
      %a.item-vote{project_vote_attributes(project)}
        .box
          .arrow
            %span.triangle{"aria-hidden" => "true"}
              ▲
          .counter
            = project.votes_count

      %a.title{href: project.url, target: "_blank"}
        = project.name
      .description
        = project.description
    .item-comments.col-md-3.col-sm-3.col-xs-4
      .item-comments-inner
        - user = project.user
        - if user
          %span.posted-by.hidden-xs Posted by
          %a.user-avatar(href="/@#{user.screen_name}")
            %img{src: user.profile_image_url, class: 'img-circle', 'data-toggle'=>"tooltip", :title=>"@#{user.screen_name} #{user.location}"}

        -# .comments-gif
        -#   %span.glyphicon.glyphicon-comment{"aria-hidden" => "true"}

- if projects.blank?
  .empty-projects
    %p= local_assigns[:empty_msg] || "No products found."
