- next_bucket = Project.next_bucket(time)
- prev_bucket = Project.prev_bucket(time)

.project-list.row{"data-next-bucket" => next_bucket, "data-prev-bucket" => prev_bucket, class: ("expanded" if Project.is_bucket_today?(time))}
  .head.col-md-12.col-sm-12.col-xs-12
    -# - if local_assigns[:add_nav]
    -#   .project-nav.pull-right
    -#     - if next_bucket
    -#       %a.btn.btn-xs.btn-default(href="/date/#{next_bucket}" title="View next day") <
    -#     - if prev_bucket
    -#       %a.btn.btn-xs.btn-default(href="/date/#{prev_bucket}" title="View previous day") >

    .today
      = date_display(time)

    %a.date(href="/date/#{Project.bucket(time)}" title="Permalink for date: #{time.strftime('%B %d, %Y')}")
      - if time.weekend?
        = (time - 1.day).strftime('%B %d')
        = " - "
        = time.strftime('%d')
      - else
        = time.strftime('%B %d')
  .clearfix

  - top_items = projects[0...Settings.products_to_show]
  - more_items = projects[Settings.products_to_show..-1]

  - if Project.is_bucket_today?(time)
    - empty_msg = "Good morning! Interested in <a href='/new'>posting a product</a> today?".html_safe
  - else
    - empty_msg = "No products were submitted on #{time.strftime("%A, %B %d")}"

  = render "projects/project_listings", projects: top_items, empty_msg: empty_msg

  - if more_items.present?
    .more-projects-btn
      ▿ show #{more_items.count} more...

    .expanded-projects
      = render "projects/project_listings", projects: more_items
