.feed
  .head
    .today
      Today
    .date
      = Time.now.strftime('%A, %b %d')
  .clearfix

  - @projects.each do |project|
    .item
      %a.item-vote{project_vote_attributes(project)}
        .box
          .arrow
            %span.glyphicon.glyphicon-chevron-up{"aria-hidden" => "true"}
          .counter
            = project.votes_count

      .item-details
        %a.title{href: project.url, target: "_blank"}
          = project.name
        .description
          = project.description
      .item-comments
        - user = project.user
        - if user
          .user-image
            %img{src: user.profile_image_url, class: 'img-circle', 'data-toggle'=>"tooltip", :title=>"@#{user.screen_name} #{user.location}"}
        -# .comments-gif
        -#   %span.glyphicon.glyphicon-comment{"aria-hidden" => "true"}
