.feed
  .head
    .today
      Today
    .date
      = Time.now.strftime('%A, %b %d')
  .clearfix

  - @projects.each do |project|
    .item
      .item-vote
        .box
          .arrow
            %span.glyphicon.glyphicon-chevron-up{"aria-hidden" => "true"}
          .counter
            = project.votes_count
      .item-details
        .title
          = project.name
        .description
          = project.description
      .item-comments
        .user-image
          %img{src: current_user.profile_image_url, class: 'img-circle', 'data-toggle'=>"tooltip", :title=>"@#{current_user.screen_name} #{current_user.location}"}
        .comments-gif
          %span.glyphicon.glyphicon-comment{"aria-hidden" => "true"}
