.feed.row
  .head.col-md-12.col-sm-12.col-xs-12
    .today
      Today
    .date
      = Time.now.strftime('%A, %b %d')
  .clearfix

  - @projects.each do |project|
    .item.row
      %a.item-vote{project_vote_attributes(project)}
        .box
          .arrow
            %span.triangle{"aria-hidden" => "true"}
              ▲
          .counter
            = project.votes_count

      .item-details.col-md-6.col-sm-6.col-xs-6
        %a.title{href: project.url, target: "_blank"}
          = project.name
        .description
          = project.description
      .item-comments.col-md-5.col-sm-5.col-xs-5
        .item-comments-inner
          - user = project.user
          - if user
            %span.posted-by Posted by
            .user-image
              %img{src: user.profile_image_url, class: 'img-circle', 'data-toggle'=>"tooltip", :title=>"@#{user.screen_name} #{user.location}"}

          -# .comments-gif
          -#   %span.glyphicon.glyphicon-comment{"aria-hidden" => "true"}
