<h2>Post a new product</h2>
<%= form_tag "/new" do %>

  <div class="form-group <%= error_class(:name) %>">
    <label for="name">Name</label>
    <%= text_field_tag "name", params[:name], class: "form-control", placeholder: "Enter the product's name"  %>
    <%= field_errors(:name) %>
  </div>

  <div class="form-group <%= error_class(:url) %>">
    <label for="url">Link</label>
    <%= text_field_tag "url", params[:url], class: "form-control", placeholder: "http://www..."  %>
    <%= field_errors(:url) %>
  </div>

  <div class="form-group <%= error_class(:description) %>">
    <label for="description">Tagline</label>
    <%= text_field_tag "description", params[:description], class: "form-control", placeholder: "Describe the product in a few words"  %>
    <%= field_errors(:description) %>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Submit Product</button>
  </div>

<% end %>
