!!!
%html(lang="en")
  %head
    %title Open Hunt - discover new products, give feedback, help each other
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"}/
    %meta{"content" => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{"charset" => "utf-8"}/

    = stylesheet_link_tag "dependencies", "application", media: 'all'
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    = csrf_meta_tags

    = content_for(:head)

%body(class="#{body_css} #{'show-intro' if show_intro?}")

  - if @skip_header
    - flash.keep
  - else
    = render "layouts/navbar"
    = render "layouts/flash_messages"

  = content_for(:after_header)

  .container
    = yield

  = render "layouts/detail_panel"

  - if Settings.include_analytics
    = render "layouts/analytics"
  = javascript_include_tag "dependencies", "application"
  = render "layouts/rollbar"
