!!!
%html(lang="en")
  %head
    %title Open Hunt - discover new products, give feedback, help each other
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"}/
    %meta{"content" => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{"charset" => "utf-8"}/

    = auto_discovery_link_tag(:rss, format: :rss)
    = auto_discovery_link_tag(:rss, format: :rss, controller: "projects", action: :recent)
    = auto_discovery_link_tag(:atom, format: :atom)
    = auto_discovery_link_tag(:atom, format: :atom, controller: "projects", action: :recent)

    = stylesheet_link_tag "dependencies", "application", media: 'all'
    = csrf_meta_tags


%body(class="#{body_css} #{'show-intro' if show_intro?}")
  - unless @skip_header
    = render "layouts/navbar"

  .container
    = yield

  = render "layouts/feedback_panel"
  = render "pages/about_screen"

  - if Settings.include_analytics
    = render "layouts/analytics"
  = javascript_include_tag "dependencies", "application"
  = javascript_include_tag "https://use.fonticons.com/cbcf708f.js"
  = render "layouts/rollbar"
