<!DOCTYPE html>
<html>
<head>
  <title>Open Hunt - discover new products, give feedback, help each other</title>
  <%= stylesheet_link_tag "dependencies", "application", media: 'all' %>
  <%= javascript_include_tag "dependencies", "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    OAuth.initialize(<%=raw Settings.oauth_public_key.to_json %>);
  </script>
</head>
<body>

  <div class="container">
    <% unless skip_header? %>
      <div class="top-header">
        <h1>Open Hunt</h1>

        <ul>
          <li>
            <a href="/new">Submit Project</a>
          </li>
          <% if current_user.present? %>
            <li>
              <a href="/logout" data-method="POST">Logout</a>
            </li>
          <% else %>
            <li>
              <a href="/login">Login</a>
            </li>
          <% end %>
        </ul>
      </div>
      <hr />
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
