<!DOCTYPE html>
<html>
<head>
  <title>Open Hunt - discover new products, give feedback, help each other</title>
  <%= stylesheet_link_tag "dependencies", "application", media: 'all' %>
  <%= javascript_include_tag "dependencies", "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    OAuth.initialize(<%=raw Settings.oauth_public_key.to_json %>);
  </script>
</head>
<body>

  <%= yield %>

</body>
</html>
